:root {
    --primary-font: 'Arial', sans-serif; /* Fonte primária */
    --secondary-font: 'Helvetica', sans-serif; /* Fonte secundária */
    
    --system-primary-color: #6c79db; /* Cor primária */
    --secondary-color: #fff; /* Cor secundária */
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
    overflow-x: hidden;
}

.content {
    width: 100%;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
